<!DOCTYPE html>
<html>
<head>
<title>Welcome to lotto.52dayday.com!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>This Is Predicting Result of NSW <%= @lotto_type %> Lotto</h1>
<p>The results are as following:</p>
<ol>
<% @ticket.each do |result| %>
<li><%= result %></li>
<% end %>
</ol>
<br />
<br />


<p> reuslt is drawn automatically at <%= @date %></p>
<p> The predicting reuslt will update 35 minutes before the close time of the day's lotto</p>
<p><em>Thank you for visiting this website</em></p>
</body>
<footer>
<a href="https://github.com/timetxt/nsw-lotto">
<img src="images/github.png" alt="github reop link">see source code here
</a>
</footer>

</html>

